.container {
  width: min(1280px, 92%);

  margin: auto;
}

section {
  padding: 110px 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;

  color: var(--slate);
}

h1 {
  font-size: 4rem;

  line-height: 1.1;
}

h2 {
  font-size: 2.7rem;

  margin-bottom: 20px;
}

p {
  line-height: 1.8;
}

.card {
  background: white;

  border-radius: 20px;

  box-shadow: var(--shadow);
}
