@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    font: inherit;
    cursor: pointer;
    border: none;
  }

  body {
    font-family: 'Inter', sans-serif;

    background: var(--bg);

    color: var(--gray);
  }
}
